<!DOCTYPE html>
<!-- saved from url=(0062)http://twitter.github.io/bootstrap/examples/justified-nav.html -->
<html lang="en">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>The Climbing Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<!-- Slider Javascript-->
	<link rel="stylesheet" href="../asset/stylesheets/nivo-slider.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="../asset/stylesheets/default.css" type="text/css" media="screen" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="jquery.nivo.slider.pack.js" type="text/javascript"></script>
	<!-- Slider Javascript End-->
	
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <style type="text/css">
      /* body {
        padding-top: 20px;
        padding-bottom: 60px;
      } */

      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
		padding: 10px 0;
      }
      .container > hr {
        margin: 60px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }


      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }
	html,
			body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 40px;
      }
      #footer {
        border-top: 1px solid #eee;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png"> -->
   
  </head>

  <body><div style="position: absolute; top: 0px; left: 0px; width: 1px; height: 1px; z-index: 2147483647;" id="_GPL_e6a00_parent_div"><object type="application/x-shockwave-flash" id="_GPL_e6a00_swf" data="http://savingsslider-a.akamaihd.net/items/e6a00/storage.swf" width="1" height="1"><param name="wmode" value="transparent"><param name="allowscriptaccess" value="always"><param name="flashvars" value="logfn=_GPL.items.e6a00.log&amp;onload=_GPL.items.e6a00.onload&amp;onerror=_GPL.items.e6a00.onerror&amp;LSOName=gpl"></object></div>
	
   
	
	     <div class="masthead">
        <!-- <h3 class="muted">The Climbing Portal</h3> -->
        
      </div>

      <!-- Jumbotron -->
      <!-- <div class="jumbotron">
        <h1>The Climbing Portal</h1>
        <p class="lead">Look up beta on your local crag, keep track of your score, and look up your local gym.</p>
      </div> --> 

	  <!-- Slider Javascript-->
	<div class="slider-wrapper theme-default">
	    <div id="slider" class="nivoSlider">
          <%=image_tag("montserrat_spain_2.jpg", alt: "")%>
	        <%=image_tag("montserrat_spain.jpg", alt: "")%>
          <%=image_tag("bishop_natalie.jpg", alt: "")%>
          <%=image_tag("joshua_tree_whiterastafarian.jpg", alt: "")%>
          <%=image_tag("joshua_tree_3.jpg", alt: "")%>
	    </div>
	</div>
	<div id="htmlcaption" class="nivo-html-caption">
	</div>
	
	<script type="text/javascript">
	$(window).load(function() {
	    $('#slider').nivoSlider();
	});
	</script>
    <!-- Slider Javascript End-->

  	<hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
		<div class="span12">
			<h2>Browse and Find Climbing Destinations</h2>
        </div>        
		<div class="span10">
			<div class="destinations">
				<ul>
					<p>Califorina</p>
					<li><a href="">Bishop</a></li>
					<li><a href="">High Sierra</a></li>
          <li class="<%= 'active' if params[:controller] == 'destinations_controller' %>"><a href="/destinations/joshuatreepark">Joshua Tree Park</a></li>
					<li><a href="">Tahquitz & Suicide Rock</a></li>
	        <li><a href="">Yosemite National Park</a></li>
				</ul>

				<ul>
					<p>Colorado</p>
					<li><a href="">Alpine Rock</a></li>
					<li><a href="">Boulder Canyon</a></li>
					<li><a href="">Gunnison</a></li>
	                <li><a href="">Shelf Rock</a></li>
	                <li><a href="">South Platte</a></li>
				</ul>
				<ul>
					<p>Texas</p>
					<li><a href="">Barton Creek Greenbelt</a></li>
					<li><a href="">Camp Eagle</a></li>
					<li><a href="">Hueco Tanks</a></li>
	                <li><a href="">Paluxy River Boulders</a></li>
	                <li><a href="">Reimer's Ranch</a></li>
				</ul>
				<ul>
					<p>Utah</p>
					<li><a href="">Castle Valley</a></li>
					<li><a href="">Fishers Towers</a></li>
					<li><a href="">Joe's Valley'</a></li>
	                <li><a href="">Moab Area</a></li>
	                <li><a href="">Wasatch Range</a></li>
				</ul>
			</div>
          <p class="btn"><a class="<%= 'active' if params[:controller] == 'destinations_controller' %>" href="/destinations">View More »</a></p>
        </div>
      </div>
     
    </div> <!-- /container -->




    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./Template · Bootstrap_files/jquery.js"></script>
    <%= javascript_include_tag "jquery-1.9.0.min.js" %>
    <%= javascript_include_tag "jquery.nivo.slider.js" %>
	

</body></html>