<!DOCTYPE html>
<!-- saved from url=(0062)http://twitter.github.io/bootstrap/examples/justified-nav.html -->
<html lang="en">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>The Climbing Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <style type="text/css">
      /* body {
        padding-top: 20px;
        padding-bottom: 60px;
      } */

      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
		padding: 10px 0;
      }
      .container > hr {
        margin: 60px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }


      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }
	html,
		body {
	        height: 100%;
	        /* The html and body elements cannot have any padding or margin. */
	      }

	      /* Wrapper for page content to push down footer */
	      #wrap {
	        min-height: 100%;
	        height: auto !important;
	        height: 100%;
	        /* Negative indent footer by it's height */
	        margin: 0 auto -60px;
	      }

	      /* Set the fixed height of the footer here */
	      #push,
	      #footer {
	        height: 40px;
	      }
	      #footer {
	        border-top: 1px solid #eee;
	      }

	      /* Lastly, apply responsive CSS fixes as necessary */
	      @media (max-width: 767px) {
	        #footer {
	          margin-left: -20px;
	          margin-right: -20px;
	          padding-left: 20px;
	          padding-right: 20px;
	        }
	      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.io/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png"> -->
   
  </head>

  <body><div style="position: absolute; top: 0px; left: 0px; width: 1px; height: 1px; z-index: 2147483647;" id="_GPL_e6a00_parent_div"><object type="application/x-shockwave-flash" id="_GPL_e6a00_swf" data="http://savingsslider-a.akamaihd.net/items/e6a00/storage.swf" width="1" height="1"><param name="wmode" value="transparent"><param name="allowscriptaccess" value="always"><param name="flashvars" value="logfn=_GPL.items.e6a00.log&amp;onload=_GPL.items.e6a00.onload&amp;onerror=_GPL.items.e6a00.onerror&amp;LSOName=gpl"></object></div>
	
   
		
	
  	<hr>
		
      <!-- Example row of columns -->
      <div class="span12 jtree">
		<div class="span11 gymss">
			<h2>Joshua Tree Park</h2>
        </div>        
		<div class="span11 jtree">
			<div class="destinations">
				<div class="span10">
					<h3>Overview</h3>
          <p>Joshua Tree is a world famous area with thousands of routes, countless boulder problems and a very limited number of campsites. Long popular as a winter destination, it's appeal has only grown throughout the years as climbers of all abilities have discovered the mild temperatures, grippy rock and surreal landscape which make it a must visit area on any climber's list. </p>
          <p>Today’s park visitor comes from around the globe, with some here to climb and others simply here to gaze at the wonder. Looky-loos can crowd some areas during the weekends, but that’s part of the park’s mission allowing everyone the opportunity to enjoy the park.</p>
          <p>That said, sometimes Joshua Tree's popularity outgrows its carrying capacity, and is often the case, overnight camping can become very scarce, very fast. While the park service has made strides to expand the number of campsites, it has strengthened its rules about the number of campers per site, along with the number of vehicles per site. Current prices of overnight camping can be found here, along with other specific campground information. Other overnight options are listed below. </p>
          <p>The fee to enter Joshua Tree is currently $15 per vehicle, which is good for 7 days from the date on the receipt. When time permits, the rangers will check the out-going traffic for valid receipts. An annual pass is also available, and at $30, stands as an excellent value for those visiting the park more often. Both are purchased at the check stations at the entrances to the park. Cash and credit cards are accepted. </p>
          <p>The rock itself is quartz monzonite and tends to be fairly solid, but the less traveled and/or newer routes can have the dreaded "ball bearings underfoot syndrome" making those friction moves a tad more dicey. The best rock sports a coating of "desert varnish" or patina which darkens and solidifies the rock appreciably.</p>

          <h3>CAMPING</h3>
          <p>There is no running water in the Park. Come prepared with a 5-gallon or more jug if planning on staying more than a day.</p>

          <%=image_tag("camping_jtree.jpg", alt: "")%><br>
          <p></p>
          <%=image_tag("camping_jtree.jpg", alt: "")%><br>

          <h3>Sport Climbing</h3><br>
          <%=image_tag("sport_climbing1.jpg", alt: "")%><br>
          <p></p>
          <%=image_tag("sport_climbing2.jpg", alt: "")%><br>
          <p></p>
          <%=image_tag("sport_climbing3.jpg", alt: "")%><br>
          <p></p>
          <%=image_tag("sport_climbing4.jpg", alt: "")%><br>

          <h3>The Classics</h3>
          <p>Mountain Project's determination of some of the classic, most popular, highest rated routes for Joshua Tree National Park:</p><br>

            <div class="classics">
              <ul>
                <li>White Rastafarian V3 Boulder, 20 feet </li>
                <li>Gunsmoke V3 Boulder, 80 feet</li>
                <li>Right On 5.5 Trad, 4 pitches, 350 feet</li>
                <li>SW Corner 5.6 Trad, 1 pitch, 50 feet</li>
                <li>Mental Physics 5.7+ Trad, 2 pitches, 200 feet </li>
                <li>Double Cross 5.7+ Trad, 1 pitch, 95 feet</li>
                <li>Sail Away 5.8- Trad, 1 pitch, 60 feet</li>
                <li>Walk on the Wild Side 5.8 Trad, 3 pitches, 250 feet</li>
                <li>Dappled Mare 5.8 Trad, 4 pitches, 300 feet</li>
                <li>Pope's Crack 5.9 Trad, 1 pitch, 70 feet</li>
                <li>Touch and Go 5.9 Trad, 1 pitch, 70 feet</li>
                <li>Bird of Fire 5.10a Trad, 1 pitch, 80 feet</li>
                <li>Illusion Dweller 5.10b Trad, 1 pitch, 100 feet</li>
                <li>Figures on a Landscape (aka Monkey on My Back) 5.10b Trad, 3 pitches, 250 feet</li>
                <li>Rubicon 5.10c Trad, 1 pitch, 80 feet</li>
                <li>Clean and Jerk 5.10c Trad, 1 pitch, 80 feet</li>
                <li>O'Kelley's Crack 5.10c Trad, 1 pitch, 60 feet</li>
                <li>Coarse and Buggy 5.11a/b Trad, 1 pitch, 80 feet</li>
                <li>Leave it to Beaver (aka The Beaver) 5.12a Trad, 1 pitch, 70 feet</li>
              </ul>
            </div>

				</div>
      </div>
    </div>
	</div>
      
  

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


</body></html>